<div class="vertical-menu">

  <div data-simplebar class="h-100">

      <!--- Sidemenu -->
      <div id="sidebar-menu">
          <!-- Left Menu Start -->
          <ul class="metismenu list-unstyled" id="side-menu">
              <li class="menu-title" key="t-menu">Menu</li>

              <li>
                  <a href="javascript: void(0);" class="has-arrow waves-effect">
                      <i class="bx bx-home-circle"></i>
                      <span key="t-dashboards">Dashboards</span>

                  </a>

              </li>

              <li>
                  <a href="/ajouterRapport" class="waves-effect">

                      <i class="bx bx-layout"></i>
                      <span key="t-layouts">Rapport</span>
                  </a>

              </li>





              <li>
                  <a href="/ajouterJournal" class="has-arrow waves-effect">
                      <i class="bx bx-calendar"></i>
                      <span key="t-dashboards">Journal</span>
                  </a>

              </li>

              <li>
                  <a href="/demandeConvention" class="waves-effect">
                      <i class="bx bx-chat"></i>
                      <span key="t-chat">Convention</span>
                  </a>
              </li>
               <li>
                  <a href="/AjouterRapportFinal" class="waves-effect">
                      <i class="bx bx-chat"></i>
                      <span key="t-chat">dépôt Rapport Final</span>
                  </a>
              </li>
               <li>
                  <a href="/AjouterStage" class="waves-effect">
                      <i class="bx bx-chat"></i>
                      <span key="t-chat">Stage</span>
                  </a>
              </li>


          </ul>
      </div>
      <!-- Sidebar -->
  </div>
</div>

